<div class="row">
    <div class="col-xs-3">
        <label>วัน/เดือน/ปี เปิดการสมัคร</label>
    </div>
    <div class="col-xs-4 input-group">
        <input id="open-register-date" type="text" class="form-control" datepicker-popup="{{format}}"
               name="dt" ng-model="activity.date_open_register" is-open="datepickers.applyStart"
               datepicker-options="dateOptions" ng-required="true"
               close-text="Close" />
      <span class="input-group-btn">
        <button id="open-register-date-button" class="btn btn-default" ng-click="open($event,'applyStart')">
            <i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>วัน/เดือน/ปี ปิดการสมัคร</label>
    </div>
    <div class="col-xs-4 input-group">
        <input id="close-register-date" type="text" class="form-control" datepicker-popup="{{format}}"
               name="dt" ng-model="activity.date_close_register" is-open="datepickers.applyStop"
               datepicker-options="dateOptions" ng-required="true"
               close-text="Close" />
      <span class="input-group-btn">
        <button id="close-register-date-button" class="btn btn-default" ng-click="open($event,'applyStop')">
            <i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>วัน/เดือน/ปี เริ่มกิจกรรม</label>
    </div>
    <div class="col-xs-4 input-group">
    <input id="start-activity-date" type="text" class="form-control" datepicker-popup="{{format}}"
           name="dt" ng-model="activity.date_start_activity" is-open="datepickers.activityStart"
           datepicker-options="dateOptions" ng-required="true"
           close-text="Close" />
      <span class="input-group-btn">
        <button id="start-activity-date-button" class="btn btn-default" ng-click="open($event,'activityStart')">
            <i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
    <!--<div class="col-xs-4">-->
        <!--<input type="date" class="form-control input-sm">-->
    <!--</div>-->
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>วัน/เดือน/ปี สิ้นสุดกิจกรรม</label>
    </div>
    <div class="col-xs-4 input-group">
        <input id="end-activity-date" type="text" class="form-control" datepicker-popup="{{format}}"
               name="dt" ng-model="activity.date_end_activity" is-open="datepickers.activityStop"
               datepicker-options="dateOptions" ng-required="true"
               close-text="Close" />
      <span class="input-group-btn">
        <button id="end-activity-date-button" class="btn btn-default" ng-click="open($event,'activityStop')">
            <i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>วัน/เดือน/ปี เปิดการประเมิน</label>
    </div>
    <div class="col-xs-4 input-group">
        <input id="start-evaluate-date" type="text" class="form-control" datepicker-popup="{{format}}"
               name="dt" ng-model="activity.date_start_evaluate" is-open="datepickers.assessmentStart"
               datepicker-options="dateOptions" ng-required="true"
               close-text="Close" />
      <span class="input-group-btn">
        <button id="start-evaluate-date-button" class="btn btn-default" ng-click="open($event,'assessmentStart')">
            <i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>วัน/เดือน/ปี ปิดการประเมิน</label>
    </div>
    <div class="col-xs-4 input-group">
        <input id="stop-evaluate-date" type="text" class="form-control" datepicker-popup="{{format}}"
               name="dt" ng-model="activity.date_stop_evaluate" is-open="datepickers.assessmentStop"
               datepicker-options="dateOptions" ng-required="true"
               close-text="Close" />
      <span class="input-group-btn">
        <button id="stop-evaluate-date-button" class="btn btn-default" ng-click="open($event,'assessmentStop')">
            <i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
</div>