<div class="row">
    <div class="col-xs-3">
        <label>ภาคเรียนที่</label>
    </div>
    <div class="col-xs-3">
        <select id="select-semester-academic" class="form-control input-sm" ng-model="activity.academic_semester">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>

        </select>
    </div> 
    <div class="col-xs-3">
        <select id="select-academic-year" class="form-control input-sm" ng-options="y for y in yearList" ng-model="activity.academic_year">
        </select>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>ชื่อกิจกรรม</label>
    </div>
    <div class="col-xs-6">
        <input id="activity-name" type="text" class="form-control input-sm" ng-model="activity.name">
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>รายละเอียดกิจกรรม</label>
    </div>
    <div class="col-xs-6">
        <textarea id="activity-description" class="form-control" rows="9" ng-model="activity.description"></textarea>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>สถานที่</label>
    </div>
    <div class="col-xs-6">
        <input id="activity-place" type="text" class="form-control input-sm" ng-model="activity.place">
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>จำนวนชั่วโมง</label>
    </div>
    <div class="col-xs-4">
        <input id="activity-hour" type="number" class="form-control input-sm" ng-model="activity.no_of_hours">
    </div>
</div>