<div class="container-fluid">
  <div class="col-xs-3">
        <label>เลือกเทมเพลตการประเมิน</label>
    </div>
    <div class="col-xs-6">
        <select 
          id="activity-review-template" 
          class="form-control input-sm"
          ng-change="changeOrganizer(selectedOganizerID)"
          ng-model="activity.activity_review_template_id"
          ng-options="ev.activity_review_template_id as ev.activity_review_template_name for ev in evaluateTemplates track by ev.activity_review_template_id">
        </select>
    </div>
</div>