<div class="row">
    <div class="col-xs-3">
        <label>หน่วยงานที่จัด</label>
    </div>
    <div class="col-xs-4">
        <select id="organizer" class="form-control input-sm" ng-model="activity.organizer" ng-options="o.name for o in faculty.organizers">
        </select>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>กิจกรรมนี้เป็น</label>
    </div>
    <div class="col-xs-4">
        <select id="activityType" class="form-control input-sm" >
            <option>กิจกรรมหลัก</option>
            <option>กิจกรรมเลือก</option>
        </select>
    </div>
</div>