<div class="row">
    <div class="col-xs-3">
        <label>งบประมาณ</label>
    </div>
    <div class="col-xs-6">
        <input type="text" id="estimate-budget" class="form-control input-sm" ng-model="activity.budget_estimate">
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>งบประมาณที่ใช้จริง</label>
    </div>
    <div class="col-xs-6">
        <input type="text" id="actual-budget" class="form-control input-sm" ng-model="activity.budget_actual">
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>จำนวนนักศึกษา</label>
    </div>
    <div class="col-xs-6">
        <input type="text" id="maximum-student" class="form-control input-sm" ng-model="activity.enroll_maximum_student">
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>ภาพกิจกรรม</label>
    </div>
    <div class="col-xs-6">
        <!-- <input type="file" class="form-control input-sm"><br /> -->
        <!-- <input type="file" class="form-control input-sm"><br /> -->
        <input type='file' id="image1" ng-model='activity.image1' accept="image/*, .zip" base-sixty-four-input>
        <input type='file' id="image2" ng-model='activity.image2' accept="image/*, .zip" base-sixty-four-input>
        <!-- <input type="file" file-model="image2"/><br /> -->
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>ตรวจสอบการเข้าร่วมกิจกรรม</label>
    </div>
    <div class="col-xs-6">
        <select id="entries-activity" class="form-control">
            <option>--</option>
        </select>
    </div>
</div>