<div class="row">
    <div class="col-xs-3">
        <label>วัตถุประสงค์</label>
    </div>
    <div class="col-xs-6">
        <textarea id="objective-description" class="form-control" rows="9" ng-model="activity.description_objective"></textarea>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-3">
        <label>เป้าหมาย</label>
    </div>
    <div class="col-xs-6">
        <textarea id="target-description" class="form-control" rows="9" ng-model="activity.description_target"></textarea>
    </div>
</div>