<div class="row">
    <div class="col-xs-3">
        <label>กรอบมาตรฐานคุณวุฒิระดับอุดมศึกษา</label>
    </div>
    <div class="col-xs-9">
        <table>
            <tr><th>&nbsp;</th><th class="text-center">กรอบมาตรฐานคุณวุฒิระดับอุดมศึกษา</th></tr>
            <tr><td><input type="radio" id="education-radio" name="standard" value="1" /></td><td class="paddingL5">คุณธรรมจริยธรรม</td></tr>
            <tr><td><input type="radio" id="knowedge-radio" name="standard" value="1" /></td><td class="paddingL5">ความรู้</td></tr>
            <tr><td><input type="radio" id="cognitive-radio" name="standard" value="1" /></td><td class="paddingL5">ทักษะทางปัญญา</td></tr>
            <tr><td><input type="radio" id="interpersonal-radio" name="standard" value="1" /></td><td class="paddingL5">ทักษะความสัมพันธ์ระหว่างบุคคล และความรับผิดชอบ</td></tr>
            <tr><td><input type="radio" id="analysis-radio" name="standard" value="1" /></td><td class="paddingL5">ทักษะการวิเคราะห์เชิงตัวเลข การสื่อสาร และการใช้เทคโนโลยีสารสนเทศ</td></tr>
        </table>
    </div>
</div>