<div class="container-fluid">
<div class="form-group">
    <button type="button" id="select-focus-template-button" class="btn btn-primary col-xs-3" ng-click="openSelectFocusTemplate()">เลือกชนิดกิจกรรม
    </button>
</div>
<br/>
<div class="form-group">
    <div class="form-group" ng-repeat="template in selectFocusTemplates">
        <focus-template template="template"></focus-template>
    </div>
</div>

</div>