<div class="row">
    <div class="col-xs-6">
        <label>บ้านเลขที่</label>
        <input id="home-address-house-number" type="text" class="form-control" ng-model="student.homeAddress.houseNumber"/>
        <label>ชื่อหมู่บ้าน</label>
        <input id="home-address-village" type="text" class="form-control" ng-model="student.homeAddress.village"/>
        <label>หมู่ที่</label>
        <input id="home-address-moo" type="text" class="form-control" ng-model="student.homeAddress.moo"/>
        <label>ซอย</label>
        <input id="home-address-soi" type="text" class="form-control" ng-model="student.homeAddress.soi"/>
        <label>ถนน</label>
        <input id="home-address-road" type="text" class="form-control" ng-model="student.homeAddress.road"/>
        <label>จังหวัด</label>
        <select id="home-address-province" class="form-control">
            <option>-</option>
        </select>
        <label>อำเภอ</label>
        <select id="home-address-city" class="form-control">
            <option>-</option>
        </select>
        <label>ตำบล</label>
        <select id="home-address-town" class="form-control" ng-model="student.homeAddress.tumbon">
            <option>-</option>
        </select>
        <label>รหัสไปรษณีย์</label>
        <input id="home-address-postcode" type="text" class="form-control" ng-model="student.homeAddress.postCode"/>
    </div>
    <div class="col-xs-6">
        <label>เบอร์มือถือ</label>
        <input id="phone-number" type="text" class="form-control" ng-model="student.mobileNumber" />
        <label>E-mail</label>
        <input id="student-email" type="text" class="form-control" ng-model="student.email"/>
        <label>Facebook</label>
        <input id="student-facebook" type="text" class="form-control" ng-model="student.facebook" />
        <label>ID LINE</label>
        <input id="student-lineid" type="text" class="form-control" ng-model="student.lineId" >
        <label>ที่อยู่ติดต่อได้สะดวก</label>
        <textarea id="easy-contace-place" class="form-control" rows="3" ng-model="student.easyContactPlace"></textarea>
    </div>
</div>