<div class="row">
    <div class="col-xs-6">
        <label>รหัสนักศึกษา</label>
        <input ng-model="student.studentID" type="text" class="form-control"/>
        <label>Password</label>
        <input ng-model="student.authenticatedUser.password" type="text" class="form-control"/>

        <br/>
        <legend></legend>
        <div>
            <label>รูป</label>
            <input type='file' class="form-control" ng-model='student.profile_image' base-sixty-four-input>
            <table>
                <tr ng-repeat="file in $flow.files">
                    <td>{{$index+1}}</td>
                    <td>{{file.name}}</td>
                    <td><img flow-img="$flow.files[{{$index}}]"/></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-xs-6">

        <label>เลขบัตรประชาชน</label>
        <input ng-model="student.thaiId" type="text" class="form-control"/>
        <label>เพศ</label><br/>
        <input type="radio" ng-model="student.gender" value="Male" name="gender"> ชาย
        <input type="radio" ng-model="student.gender" value="Female" name="gender"> หญิง
        <br/>
        <label>คำนำหน้าชื่อ</label>
        <select ng-model="student.title" class="form-control">
            <option value="Mr">นาย</option>
            <option value="MS">นาง</option>
            <option value="Miss">นางสาว</option>
        </select>
        <label>ชื่อ</label>
        <input ng-model="student.name" type="text" class="form-control"/>
        <label>นามสกุล</label>
        <input ng-model="student.surname" type="text" class="form-control"/>
        <label>ชื่อเล่น</label>
        <input ng-model="student.nickname" type="text" class="form-control"/>
        <label>นักศึกษาภาค</label>
        <select ng-model="student.studyProgram" class="form-control">
            <option value="Normal">ปกติ</option>
            <option value="Special">พิเศษ</option>
        </select>
        <label>วัน/เดือน/ปี เกิด</label>

        <div class="row">
            <div class="col-xs-4">
                <select class="form-control" ng-model="student.birthDate.day">
                    <option selected="-">-</option>
                    <option ng-repeat="day in days">{{ day }}</option>
                </select>
            </div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="student.birthDate.month">
                    <option selected="">-</option>
                    <option ng-repeat="month in months">{{ month }}</option>
                </select>
            </div>
            <div class="col-xs-4">
                <select class="form-control" ng-model="student.birthDate.year">
                    <option selected="">-</option>
                    <option ng-repeat="year in years">{{ year }}</option>
                </select>
            </div>
        </div>
        <label>สัญชาติ</label>
        <input ng-model="student.nationality" type="text" class="form-control"/>
        <label>ศาสนา</label>
        <input ng-model="student.religion" type="text" class="form-control"/>
        <label>นักศึกษามีพี่น้อง</label>
        <input ng-model="student.numOfAllBrotherhood" type="text" class="form-control"/>
        <label>กำลังศึกษา</label>
        <input ng-model="student.numOfBrotherhoodWhoStudying" type="text" class="form-control"/>
        <label>ทำงานแล้ว</label>
        <input ng-model="student.numOfBrotherhoodWhoWorking" type="text" class="form-control"/>
        <label>นักศึกษาเป็นบุตรคนที่</label>
        <input ng-model="student.childOrder" type="text" class="form-control"/>
    </div>
</div>