<div class="row">
    <form class="form-horizontal">
        <div class="form-group col-xs-12">
            <label class="col-xs-1"> กรุ๊ปเลือด</label>

            <div class="col-xs-2">
                <select ng-model="student.healthRecord.bloodType"
                        class="form-control">
                    <option value="">-- ระบุกรุ๊ปเลือด --</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="AB">AB</option>
                    <option value="O">O</option>
                </select>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <label class="col-xs-1">
                น้ำหนัก

            </label>

            <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="student.healthRecord.weight">
            </div>

        </div>
        <div class="form-group col-xs-12">
            <label class="col-xs-1">
                ส่วนสูง

            </label>

            <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="student.healthRecord.height">
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-1">
                <label>โรคประจำตัว</label>
            </div>
            <div class="col-xs-4">
                <label class="col-xs-6">
                    <input type="radio" ng-Model="student.healthRecord.congentialDisease"
                           name="student.healthRecord.congentialDisease"
                           ng-click="showCongentialDisease = false" checked="checked">
                    ไม่มี
                </label>
                <label>
                    <input type="radio"
                           name="student.healthRecord.congentialDisease"
                           ng-click="showCongentialDisease = true">
                    มีโรค (ระบุ)
                </label>
            </div>
            <div class="col-xs-4" ng-show="showCongentialDisease">
                <input type="text" ng-Model="student.healthRecord.congentialDisease" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-1">
                <label>การแพ้ยา</label>
            </div>
            <div class="col-xs-4">
                <label class="col-xs-6">
                    <input type="radio" ng-Model="student.healthRecord.medicalAllergic"
                           name="student.healthRecord.medicalAllergic"
                           ng-click="showAllergy = false" checked="checked">
                    ไม่เคยแพ้ยา
                </label>
                <label>
                    <input type="radio"
                           name="student.healthRecord.medicalAllergic"
                           ng-click="showAllergy = true">
                    แพ้ยา (ระบุ)
                </label>
            </div>
            <div class="col-xs-4" ng-show="showAllergy">
                <input type="text" ng-Model="student.healthRecord.medicalAllergic" class="form-control">
            </div>
        </div>
    </form>
</div>