<div class="row">
    <div class="panel panel-default ">
        <div class="panel panel-heading">สถานภาพบิดามารดา</div>
        <div class="panel panel-body">
            <label>
                <input type="radio" ng-Model="student.parentStatus.marriageStatus" value="Together">
                อยู่ด้วยกัน
            </label>
            <label>
                <input type="radio" ng-Model="student.parentStatus.marriageStatus" value="Divorced">
                หย่า
            </label>
            <label>
                <input type="radio" ng-Model="student.parentStatus.marriageStatus" value="Separated">
                แยกกันอยู่
            </label>
            <label>
                <input type="radio" ng-Model="student.parentStatus.marriageStatus" value="FatherDied">
                บิดาถึงแก่กรรม
            </label>
            <label>
                <input type="radio" ng-Model="student.parentStatus.marriageStatus" value="MotherDied">
                มารดาถึงแก่กรรม
            </label>
            <label>
                <input type="radio" ng-Model="student.parentStatus.marriageStatus" value="BothDied">
                ทั้งบิดามารดาถึงแก่กรรม
            </label>
        </div>
    </div>

    <div class="panel panel-default col-xs-6">
        <div class="panel panel-heading">ข้อมูลบิดา</div>
        <div class="panel panel-body">
            <label>
                ชื่อ
                <input type="text" ng-Model="student.parentStatus.father.name" class="form-control">
            </label>
            <label>
                สกุล
                <input type="text" ng-Model="student.parentStatus.father.surname" class="form-control">
            </label>
            <label>
                อายุ
                <input type="text" ng-Model="student.parentStatus.father.age" class="form-control">
            </label>
            <label>
                อาชีพ
                <input type="text" ng-Model="student.parentStatus.father.occupation" class="form-control">
            </label>
            <label>
                รายได้ต่อเดือน
                <input type="text" ng-Model="student.parentStatus.father.salary" class="form-control">
            </label>
            <label>
                ที่อยู่
                <textarea ng-Model="student.parentStatus.father.address" class="form-control"></textarea>
            </label>
            <label>
                เบอร์โทรศัพท์
                <input type="text" ng-Model="student.parentStatus.father.telNumber" class="form-control">
            </label>
            <label>
                เบอร์มือถือ
                <input type="text" ng-Model="student.parentStatus.father.moblieNumber" class="form-control">
            </label>
        </div>
    </div>
    <div class="panel panel-default col-xs-6">
        <div class="panel panel-heading">ข้อมูลมารดา</div>
        <div class="panel panel-body">
            <label>
                ชื่อ
                <input type="text" ng-Model="student.parentStatus.mother.name" class="form-control">
            </label>
            <label>
                สกุล
                <input type="text" ng-Model="student.parentStatus.mother.surname" class="form-control">
            </label>
            <label>
                อายุ
                <input type="text" ng-Model="student.parentStatus.mother.age" class="form-control">
            </label>
            <label>
                อาชีพ
                <input type="text" ng-Model="student.parentStatus.mother.occupation" class="form-control">
            </label>
            <label>
                รายได้ต่อเดือน
                <input type="text" ng-Model="student.parentStatus.mother.salary" class="form-control">
            </label>
            <label>
                ที่อยู่
                <textarea ng-Model="student.parentStatus.mother.address" class="form-control"></textarea>
            </label>
            <label>
                เบอร์โทรศัพท์
                <input type="text" ng-Model="student.parentStatus.mother.telNumber" class="form-control">
            </label>
            <label>
                เบอร์มือถือ
                <input type="text" ng-Model="student.parentStatus.mother.moblieNumber" class="form-control">
            </label>
        </div>
    </div>
    <div class="panel panel-default col-xs-6">
        <div class="panel panel-heading">ข้อมูลผู้อุปการะ / ผู้ปกครอง (กรณีไม่ใช่บิดา / มารดา)</div>
        <div class="panel panel-body">
            <label>
                ชื่อ
                <input type="text" ng-Model="student.parentStatus.patron.name" class="form-control">
            </label>
            <label>
                สกุล
                <input type="text" ng-Model="student.parentStatus.patron.surname" class="form-control">
            </label>
            <label>
                อายุ
                <input type="text" ng-Model="student.parentStatus.patron.age" class="form-control">
            </label>
            <label>
                อาชีพ
                <input type="text" ng-Model="student.parentStatus.patron.occupation" class="form-control">
            </label>
            <label>
                ตำแหน่ง
                <input type="text" ng-Model="student.parentStatus.patron.jobPosition" class="form-control">
            </label>
            <label>
                เกี่ยวข้องกับนักศึกษา โดยเป็น
                <input type="text" ng-Model="student.parentStatus.patron.relatedBy" class="form-control">
            </label>
            <label>
                รายได้ต่อเดือน
                <input type="text" ng-Model="student.parentStatus.patron.salary" class="form-control">
            </label>
            <label>
                ที่อยู่
                <textarea ng-Model="student.parentStatus.patron.address" class="form-control"></textarea>
            </label>
            <label>
                เบอร์โทรศัพท์
                <input type="text" ng-Model="student.parentStatus.patron.telNumber" class="form-control">
            </label>
            <label>
                เบอร์มือถือ
                <input type="text" ng-Model="student.parentStatus.patron.moblieNumber" class="form-control">
            </label>
        </div>
    </div>
    <div class="panel panel-default col-xs-6">
        <div class="panel panel-heading">ค่าใช้จ่าย</div>
        <div class="panel panel-body">
            <label>
                ขณะศึกษาอยู่ที่มหาวิทยาลัยเชียงใหม่ นักศึกษาได้รับค่าใช้จ่ายประมาณ เดือนละ
                <input type="text" ng-Model="student.expense" class="form-control">
            </label>
            <label>
                จากบุคคลต่อไปนี้
            </label>
            <br/>
            <label>
                <input type="radio" ng-Model="student.expenseFrom" value="Father">
                บิดา
            </label>
            <label>
                <input type="radio" ng-Model="student.expenseFrom" value="Mother">
                มารดา
            </label>
            <label>
                <input type="radio" ng-Model="student.expenseFrom" value="BothFatherAndMother">
                บิดาและมารดา
            </label>
        <br/>
            <label>
                <input type="radio" ng-Model="student.expenseFrom" value="OlderBrother">
                พี่ชาย
            </label>
            <label>
                <input type="radio" ng-Model="student.expenseFrom" value="OlderSister">
                พี่สาว
            </label>
            <label>
                <input type="radio" ng-Model="student.expenseFrom" value="Patron">
                ผู้อุปการะ/ผู้ปกครอง หรือญาติ
            </label>
        </div>
    </div>
</div>