<div class="row">
    <div class="panel panel-default ">
        <div class="panel panel-heading col-xs-12">ที่อยู่ขณะศึกษาต่อที่มหาวิทยาลัย</div>
        <div class="panel panel-body ">
            <div class="radio col-xs-12">
                <div class="radio col-xs-12">
                    <label>
                        <input type="radio" ng-Model="student.currentAddressSituation.type"
                               name="student.currentAddressSituation.type" value="stayWithParent">
                        พักอยู่กับบิดา/มารดา
                    </label>
                </div>
            </div>
            <div class="radio col-xs-12">
                <div class="radio  col-xs-3">
                    <label>
                        <input type="radio" ng-Model="student.currentAddressSituation.type"
                               name="student.currentAddressSituation.type" value="StayWithRelative">
                        พักอยู่กับญาติ
                    </label>
                </div>
                <div class="col-xs-8" ng-show="student.currentAddressSituation.type =='StayWithRelative'">
                    <label>
                        มีความเกี่ยวข้องเป็น
                        <input type="text" ng-Model="student.currentAddressSituation.relation" class="form-control">
                    </label>
                    <label>
                        โทรศัพท์
                        <input type="text" ng-Model="student.currentAddressSituation.telephoneNumber"
                               class="form-control">
                    </label>
                </div>
                <br/>
            </div>

            <div class="radio col-xs-12">
                <div class="radio  col-xs-3">
                    <label>
                        <input type="radio" ng-Model="student.currentAddressSituation.type"
                               name="student.currentAddressSituation.type" value="StayInCMUDorm">
                        หอพักนักศึกษา มช.
                    </label>
                </div>

                <div class="col-xs-8" ng-show="student.currentAddressSituation.type =='StayInCMUDorm'">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-Model="student.currentAddressSituation.gender"

                                   value="Female">
                            หอหญิง
                        </label>
                        <label ng-show="student.currentAddressSituation.gender='Female'">
                            อาคาร
                            <input type="text" ng-Model="student.currentAddressSituation.buildingName"
                                   class="form-control">
                        </label>
                        <label ng-show="student.currentAddressSituation.gender='Female'">
                            ห้อง
                            <input type="text" ng-Model="student.currentAddressSituation.room"
                                   class="form-control">
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" ng-Model="student.currentAddressSituation.gender"

                                   value="Male">
                            หอชาย
                        </label>
                        <label ng-show="student.currentAddressSituation.gender='Male'">
                            อาคาร
                            <input type="text" ng-Model="student.currentAddressSituation.buildingName"
                                   class="form-control">
                        </label>
                        <label ng-show="student.currentAddressSituation.gender='Male'">
                            ห้อง
                            <input type="text" ng-Model="student.currentAddressSituation.room"
                                   class="form-control">
                        </label>

                    </div>
                </div>
            </div>

            <div class="radio col-xs-12">
                <div class="radio col-xs-3">
                    <label>
                        <input type="radio" ng-Model="student.currentAddressSituation.type"
                               name="student.currentAddressSituation.type" value="StayInPrivateDorm">
                        หอพักเอกชน (หอนอก)
                    </label>
                </div>
                <div class="col-xs-8" ng-show="student.currentAddressSituation.type =='StayInPrivateDorm'">

                    <label>
                        ชื่อ
                        <input type="text" ng-Model="student.currentAddressSituation.name"
                               class="form-control">
                    </label>
                    <label>
                        โทรศัพท์
                        <input type="text" ng-Model="student.currentAddressSituation.telephoneNumber"
                               class="form-control">
                    </label>

                </div>

            </div>


        </div>
    </div>
    <div class="panel panel-default ">
        <div class="panel panel-heading col-xs-12">ข้อมูลที่สามารถติดต่อนักศึกษาได้ในกรณีฉุกเฉิน</div>
        <div class="panel panel-body col-xs-6">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <label>
                        ชื่อผู้ที่สามารติดต่อได้ คนที่ 1
                        <input type="text" ng-Model="student.emergencyContact1.name"
                               class="form-control">
                    </label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class=" col-xs-12">
                    <label>
                        เบอร์โทรศัพท์
                        <input type="text" ng-Model="student.emergencyContact1.telephoneNumber"
                               class="form-control">
                    </label>
                    <label>
                        มีความสัมพันธ์เป็น
                        <input type="text" ng-Model="student.emergencyContact1.relationship"
                               class="form-control">
                    </label>
                </div>

            </div>

            <div class="col-xs-12">
                <div class="col-xs-12">
                    <label>
                        ที่อยู่
                        <textarea ng-Model="student.emergencyContact1.address"
                                  class="form-control"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <div class="panel panel-body col-xs-6">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <label>
                        ชื่อผู้ที่สามารติดต่อได้ คนที่ 2
                        <input type="text" ng-Model="student.emergencyContact2.name"
                               class="form-control">
                    </label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class=" col-xs-12">
                    <label>
                        เบอร์โทรศัพท์
                        <input type="text" ng-Model="student.emergencyContact2.telephoneNumber"
                               class="form-control">
                    </label>
                    <label>
                        มีความสัมพันธ์เป็น
                        <input type="text" ng-Model="student.emergencyContact2.relationship"
                               class="form-control">
                    </label>
                </div>

            </div>

            <div class="col-xs-12">
                <div class="col-xs-12">
                    <label>
                        ที่อยู่
                        <textarea ng-Model="student.emergencyContact2.address"
                                  class="form-control"></textarea>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>