<div class="row">
    <form class="form-horizontal">

        <div class="panel panel-default ">
            <div class="panel panel-heading">ทักษะด้านภาษา</div>
            <div class="panel panel-body">
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            ภาษาไทย*
                        </label>
                    </div>
                    <div class="col-xs-8">
                        <label class="col-xs-2">
                            <input type="radio" name="thaiSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.thaiSkill.skill"
                                   value="OK">
                            พอใช้
                        </label>
                        <label class="col-xs-2">
                            <input type="radio" name="thaiSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.thaiSkill.skill"
                                   value="Good">
                            ดี
                        </label>
                        <label class="col-xs-2">
                            <input type="radio" name="thaiSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.thaiSkill.skill"
                                   value="VeryGood">
                            ดีมาก
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            ภาษาอังกฤษ*
                        </label>
                    </div>
                    <div class="col-xs-8">
                        <label class="col-xs-2">
                            <input type="radio" name="englishSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.englishSkill.skill"
                                   value="OK">
                            พอใช้
                        </label>
                        <label class="col-xs-2">
                            <input type="radio" name="englishSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.englishSkill.skill"
                                   value="Good">
                            ดี
                        </label>
                        <label class="col-xs-2">
                            <input type="radio" name="englishSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.englishSkill.skill"
                                   value="VeryGood">
                            ดีมาก
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            ภาษาจีน
                        </label>
                    </div>
                    <div class="col-xs-8">
                        <label class="col-xs-2">
                            <input type="radio" name="chineseSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.chineseSkill.skill"
                                   value="OK">
                            พอใช้
                        </label>
                        <label class="col-xs-2">
                            <input type="radio" name="chineseSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.chineseSkill.skill"
                                   value="Good">
                            ดี
                        </label>
                        <label class="col-xs-2">
                            <input type="radio" name="chineseSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.chineseSkill.skill"
                                   value="VeryGood">
                            ดีมาก
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            ภาษาญี่ปุ่น
                        </label>
                    </div>
                    <div class="col-xs-8">
                        <label class="col-xs-2">
                            <input type="radio" name="japaneseSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.japaneseSkill.skill"
                                   value="OK">
                            พอใช้
                        </label>
                        <label class="col-xs-2">
                            <input type="radio" name="japaneseSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.japaneseSkill.skill"
                                   value="Good">
                            ดี
                        </label>
                        <label class="col-xs-2">
                            <input type="radio" name="japaneseSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.japaneseSkill.skill"
                                   value="VeryGood">
                            ดีมาก
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            ภาษาอื่น ๆ
                        </label>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-xs-8  col-xs-offset-3">
                            <label class="col-xs-2">
                                <input type="radio" name="otherSkill.status"
                                       ng-model="student.abilityAndSpecialSkill.otherSkill.skill"
                                       value="OK">
                                พอใช้
                            </label>
                            <label class="col-xs-2">
                                <input type="radio" name="otherSkill.status"
                                       ng-model="student.abilityAndSpecialSkill.otherSkill.skill"
                                       value="Good">
                                ดี
                            </label>
                            <label class="col-xs-2">
                                <input type="radio" name="otherSkill.status"
                                       ng-model="student.abilityAndSpecialSkill.otherSkill.skill"
                                       value="VeryGood">
                                ดีมาก
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel panel-heading">ทักษะและความสามารถพิเศษ</div>
            <div class="panel panel-body">

                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            <input type="checkbox" ng-model="musicAbilityCheck">
                            ด้านดนตรี
                        </label>
                    </div>
                    <div class="col-xs-8" ng-show="musicAbilityCheck">
                        <div class="form-group col-xs-12">
                            <label class="col-xs-4">
                                <input type="radio" name="music.status"
                                       ng-model="student.abilityAndSpecialSkill.musicSkill.musicType"
                                       value="LocalMusic">
                                ดนตรีพื้นเมือง ระบุ...
                            </label>

                            <div class="col-xs-4" ng-show="student.abilityAndSpecialSkill.musicSkill.musicType == 'LocalMusic'">
                                <input type="text" ng-model="student.abilityAndSpecialSkill.musicSkill.name"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group  col-xs-12">
                            <label class="col-xs-4">
                                <input type="radio" name="music.status"
                                       ng-model="student.abilityAndSpecialSkill.musicSkill.musicType"
                                       value="ThaiMusic">
                                ดนตรีไทย ระบุ...
                            </label>

                            <div class="col-xs-4" ng-show="student.abilityAndSpecialSkill.musicSkill.musicType == 'ThaiMusic'">
                                <input type="text" ng-model="student.abilityAndSpecialSkill.musicSkill.name"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group  col-xs-12">
                            <label class="col-xs-4">
                                <input type="radio" name="music.status"
                                       ng-model="student.abilityAndSpecialSkill.musicSkill.musicType"
                                       value="InterMusic">
                                ดนตรีสากล ระบุ...
                            </label>

                            <div class="col-xs-4" ng-show="student.abilityAndSpecialSkill.musicSkill.musicType == 'InterMusic'">
                                <input type="text" ng-model="student.abilityAndSpecialSkill.musicSkill.name"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group  col-xs-12">
                            <label class="col-xs-4">
                                <input type="radio" name="music.status"
                                       ng-model="student.abilityAndSpecialSkill.musicSkill.musicType"
                                       value="Singing">
                                ร้องเพลง ระบุ...
                            </label>

                            <div class="col-xs-4" ng-show="student.abilityAndSpecialSkill.musicSkill.musicType == 'Singing'">
                                <input type="text" ng-model="student.abilityAndSpecialSkill.musicSkill.name"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            <input type="checkbox" ng-model="programmingAbilityCheck" >
                            ด้านโปรแกรมคอมพิวเตอร์
                        </label>
                    </div>
                    <div class="col-xs-8" ng-show="programmingAbilityCheck">
                        <div class="row">
                            <label class="col-xs-1">
                                ระบุ
                            </label>
                            <div class="col-xs-4">
                                <input type="text"
                                       ng-model="student.abilityAndSpecialSkill.programmingSkill.name" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            <input type="checkbox" ng-model="culturalCheck" >
                            ด้านศิลปวัฒนธรรม
                        </label>
                    </div>
                    <div class="col-xs-8" ng-show="culturalCheck">
                        <div class="row">
                            <label class="col-xs-1">
                                ระบุ
                            </label>
                            <div class="col-xs-4">
                                <input type="text"
                                       ng-model="student.abilityAndSpecialSkill.culturalSkill.name" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            <input type="checkbox" ng-model="sportCheck" >
                           ด้านกีฬา
                        </label>
                    </div>
                    <div class="col-xs-8" ng-show="sportCheck">
                        <label class="col-xs-3">
                            <input type="radio" name="sportSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.sportSkill.sportType"
                                   value="BasketBall">
                            บาสเก็ตบอล
                        </label>
                        <label class="col-xs-3">
                            <input type="radio" name="sportSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.sportSkill.sportType"
                                   value="FootBall">
                            ฟุตบอล
                        </label>
                        <label class="col-xs-3">
                            <input type="radio" name="sportSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.sportSkill.sportType"
                                   value=Volleyball"">
                            วอลเลย์บอล
                        </label>
                        <label class="col-xs-3">
                            <input type="radio" name="sportSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.sportSkill.sportType"
                                   value="Athletics">
                            กรีฑา
                        </label>
                        <label class="col-xs-3">
                            <input type="radio" name="sportSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.sportSkill.sportType"
                                   value="Badminton">
                            แบตมินตัน
                        </label>
                        <label class="col-xs-3">
                            <input type="radio" name="sportSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.sportSkill.sportType"
                                   value="TableTennis">
                            เทเบิลเทนนิส
                        </label>
                        <label class="col-xs-3">
                            <input type="radio" name="sportSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.sportSkill.sportType"
                                   value="Swimming">
                            ว่ายน้ำ
                        </label>
                        <label class="col-xs-3">
                            <input type="radio" name="sportSkill.status"
                                   ng-model="student.abilityAndSpecialSkill.sportSkill.sportType"
                                   value="Others"
                                    ng-change="student.abilityAndSpecialSkill.sportSkill.name=''">
                            อื่น ๆ
                        </label>
                        <div class="col-xs-4 col-xs-offset-9" ng-show="student.abilityAndSpecialSkill.sportSkill.sportType == 'Others'">
                            <input type="text" class="form-control" ng-model="student.abilityAndSpecialSkill.sportSkill.name">
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            <input type="checkbox" ng-model="otherCheck" >
                            อื่นๆ
                        </label>
                    </div>
                    <div class="col-xs-8" ng-show="otherCheck">
                        <div class="row">
                            <label class="col-xs-1">
                                ระบุ
                            </label>
                            <div class="col-xs-4">
                                <input type="text"
                                       ng-model="student.abilityAndSpecialSkill.otherSkill.name" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>