<div class="row">
    <form class="form-horizontal">
        <div class="col-xs-12 form-group">
            <label class="col-xs-3 ">
                สำเร็จการศึกษาระดับมัธยมศึกษาจากโรงเรียน
            </label>

            <div class="col-xs-4">
                <input type="text" ng-model="student.studyRecord.oldSchool" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <label class="col-xs-3 ">
                จังหวัด
            </label>

            <div class="col-xs-4">
                <input type="text" ng-model="student.studyRecord.oldSchoolProvince" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <label>
                    เป็นสถานศึกษาของ
                </label>
            </div>
            <div class="col-xs-8">
                <label>
                    <input type="radio" name="oldSchool.status" ng-model="student.studyRecord.schoolType"
                           value="publicSchool">
                    รัฐบาล
                </label>
                <label>
                    <input type="radio" name="oldSchool.status" ng-model="student.studyRecord.schoolType"
                           value="privateSchool">
                    เอกชน
                </label>
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <label class="col-xs-3 ">
                เกรดเฉลี่ย
            </label>

            <div class="col-xs-4">
                <input type="text" ng-model="student.studyRecord.gpa" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <label>
                    สอบคัดเลือกเข้ามหาวิทยาลัยจาก
                </label>
            </div>
            <div class="col-xs-8">
                <label>
                    <input type="radio" name="admission.status" ng-model="student.studyRecord.admissionCondition"
                           value="NorthernQuota">
                    โควต้านักเรียนภาคเหนือ
                </label>
                <label>
                    <input type="radio" name="admission.status" ng-model="student.studyRecord.admissionCondition"
                           value="CentralAdmission">
                    สอบเข้าจากส่วนกลาง
                </label>
                <label>
                    <input type="radio" name="admission.status" ng-model="student.studyRecord.admissionCondition"
                           value="DirectAdmission">
                    รับตรงจากคณะ
                </label>
                <label>
                    <input type="radio" name="admission.status" ng-model="student.studyRecord.admissionCondition"
                           value="DirectAdmisionSpecialProgram">
                    รับตรงจากคณะ (ภาคพิเศษ)
                </label>
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <label>
                    เคยได้รับทุนหรือไม่
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-2">
                    <!--ng-Model="student.studyRecord.grantRecord" value="null"-->
                    <input type="radio"

                           name="previousGrantStatus"
                           ng-click="showPreviousGrantStatus = false" checked="checked">
                    ไม่เคย
                </label>
                <label class="col-xs-1">
                    <input type="radio"
                           name="previousGrantStatus"
                           ng-click="showPreviousGrantStatus = true">
                    เคย
                </label>
            </div>
            <div class="col-xs-6" ng-show="showPreviousGrantStatus">
                <div class="form-group col-xs-12">
                    <label class="col-xs-3 ">
                        ชื่อทุน
                    </label>

                    <div class="col-xs-4">
                        <input type="text" ng-model="student.studyRecord.grantRecord.name" class="form-control">
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="col-xs-3 ">
                        มูลค่าทุน
                    </label>

                    <div class="col-xs-4">
                        <input type="text" ng-model="student.studyRecord.grantRecord.value" class="form-control">
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label class="col-xs-3 ">
                        ระยะเวลาการรับทุน
                    </label>

                    <div class="col-xs-4">
                        <input type="text" ng-model="student.studyRecord.grantRecord.period" class="form-control">
                    </div>
                    <label class="col-xs-2 ">
                        ปี
                    </label>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            เป็นทุนประเภท
                        </label>
                    </div>
                    <div class="col-xs-8">
                        <label>
                            <input type="radio" name="oldGrant.type"
                                   ng-model="student.studyRecord.grantRecord.grantType" value="Continuous"
                                    >
                            ต่อเนื่องจนสำเร็จการศึกษา
                        </label>
                        <label>
                            <input type="radio" name="oldGrant.type"
                                   ng-model="student.studyRecord.grantRecord.grantType" value="OnlySemester">
                            เฉพาะปีการศึกษา
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <label>
                            เงื่อนไขการรับทุน
                        </label>
                    </div>
                    <div class="col-xs-8">
                        <label>
                            <input type="radio" name="oldFund.type"
                                   ng-model="student.studyRecord.grantRecord.grantCondition" value="ShortageOfFunds">
                            ขาดแคลนทุนทรัพย์
                        </label>
                        <label>
                            <input type="radio" name="oldFund.type"
                                   ng-model="student.studyRecord.grantRecord.grantCondition" value="GoodGrade">
                            เรียนดี
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <label>
                    เคยกู้ยืมกองทุนกู้ยืมเพื่อการศึกษาของรัฐบาลหรือไม่
                </label>
            </div>
            <div class=" form-group">
                <label class="col-xs-2">
                    <input type="radio"
                           name="previousLoanStatus"
                           ng-click="showPreviousLoanStatus = false" checked="checked"
                           ng-model="student.studyRecord.studentLoanRecord.isUsedToBorrow" value="false">
                    ไม่เคย
                </label>
                <label class="col-xs-1">
                    <input type="radio"
                           name="previousLoanStatus"
                           ng-click="showPreviousLoanStatus = true"
                           ng-model="student.studyRecord.studentLoanRecord.isUsedToBorrow" value="true">
                    เคย
                </label>
            </div>
            <div class="col-xs-6" ng-show="showPreviousLoanStatus">
                <div class="form-group col-xs-12">
                    <label class="col-xs-3 ">
                        ระยะเวลาที่กู้
                    </label>

                    <div class="col-xs-4">
                        <input type="text" class="form-control text-right" value="{{getLoanPeriod()}}"
                               disabled="true">
                    </div>
                    <label class="col-xs-3">
                        ปี
                    </label>
                </div>
                <div class="form-group col-xs-12">
                    <label class="col-xs-3 ">
                        ตั้งแต่ปี พ.ศ.
                    </label>

                    <div class="col-xs-2">
                        <input type="text" ng-model="student.studyRecord.studentLoanRecord.borrowFrom"
                               class="form-control">
                    </div>
                    <label class="col-xs-2 ">
                        ถึง ปี พ.ศ.
                    </label>

                    <div class="col-xs-2">
                        <input type="text" ng-model="student.studyRecord.studentLoanRecord.borrowTo"
                               class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <label>
                    มีความประสงค์จะกู้ยืมเงินกองทุนกู้ยืมเพื่อการศึกษาหรือไม่
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-2">
                    <input type="radio" ng-model="student.studyRecord.studentLoanRecord.isIntendToBorrow" value="false"
                           name="LoanRequest">
                    ไม่มีความประสงค์จะขอกู้
                </label>
                <label class="col-xs-2">
                    <input type="radio" ng-model="student.studyRecord.studentLoanRecord.isIntendToBorrow" value="true"
                           name="LoanRequest">
                    มีความประสงค์จะขอกู้
                </label>
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <label>
                    กิจกรรมที่เคยเข้าร่วมขณะศึกษาในระดับมัธยมศึกษา
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-2">
                    <input type="radio"
                           name="showPreviousActivity"
                           ng-click="showPreviousActivity = false" checked="checked">
                    ไม่เคย
                </label>
                <label class="col-xs-1">
                    <input type="radio"
                           name="showPreviousActivity"
                           ng-click="showPreviousActivity = true">
                    เคย
                </label>
            </div>
            <div class="col-xs-6" add-previous-activity ng-show="showPreviousActivity">

            </div>

        </div>
    </form>
</div>