/* general */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.marginB0 { margin-bottom: 0px; }

.marginT10 { margin-top: 10px; }

.paddingT5 { padding-top: 5px; }
.paddingT10 { padding-top: 10px; }

.paddingL5 { padding-left: 5px; }
.paddingL10 { padding-left: 10px; }

.bgwhite { background-color: white; }



/* menu */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.error { display: block; float: none; color: red; padding-left: 11.5em; vertical-align: top; }

.thumbnail {
  max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;
}

.indicator-center {
  position: fixed;
  top: 50%;
  left: 50%;
}

.main-alert {
  position: fixed;
  width: 300px;
  right: 10px;
  top: 10px;
}