<!DOCTYPE html>
<html lang="en" ng-app="labApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">

  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="assets/css/non-responsive.css">
  

  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-ui-grid/ui-grid.js"></script>

  
  <!-- angular-bootstrap -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <script src="bower_components/ng-flow/dist/ng-flow-standalone.js"></script>

  <script type="text/javascript" src="bower_components/angular-ui-utils/ui-utils.js"></script>
  <!-- TEST -->
  <script type="text/javascript" src="bower_components/angular-base64-upload/dist/angular-base64-upload.js"></script>

  <!--The schema form dependency-->
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/tv4/tv4.js"></script>
  <script src="bower_components/objectpath/lib/ObjectPath.js"></script>
  <script src="bower_components/angular-schema-form/dist/schema-form.js"></script>
  <script src="bower_components/angular-schema-form/dist/bootstrap-decorator.js"></script>

  <script src="bower_components/ngActivityIndicator/ngActivityIndicator.min.js"></script>
  <link rel="stylesheet" href="bower_components/ngActivityIndicator/css/ngActivityIndicator.min.css">

  <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css">

  <!-- angular-ladda spinner -->
  <link rel="stylesheet" href="bower_components/ladda/dist/ladda-themeless.min.css">
  <script src="bower_components/ladda/js/spin.js"></script>
  <script src="bower_components/ladda/js/ladda.js"></script>
  <script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>

  <!-- add i18n script -->
  <script src="./bower_components/angular-translate/angular-translate.js"></script>
  <script src="./bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
  <script src="./bower_components/angular-cookies/angular-cookies.js"></script>

  <script src="./app.js"></script>
  <script src="libs/httpClient.js"></script>
  <script src="assets/js/productController.js"></script>
  <script src="assets/js/productService.js"></script>
  <script src="assets/js/languageServices.js"></script>
  <script src="assets/js/languageControllers.js"></script>
  <script src="assets/js/shoppingCartController.js"></script>
  <script src="assets/js/shoppingCartService.js"></script>
  <script src="assets/js/securityController.js"></script>
  <script src="controllers/activityTemplate/activityTemplateService.js"></script>
  

  <script src="controllers/Student/studentService.js"></script>
  <script src="controllers/Student/studentController.js"></script>

  <script src="controllers/activity/activityService.js"></script>
  <script src="controllers/activity/activityController.js"></script>
  <script src="controllers/activity/activityViewController.js"></script>
  
  <script src="controllers/Staff/editStaff.js"></script>
  <script src="controllers/Staff/checkStudent.js"></script>
  <script src="controllers/faculty/facultyController.js"></script>
  <script src="controllers/faculty/facultyService.js"></script>
  <script src="controllers/activityTemplate/activityTemplateController.js"></script>
  <script src="controllers/activityReviewTemplate/activityReviewTemplateController.js"></script>
  <script src="controllers/activityReviewTemplate/activityReviewTemplateService.js"></script>

  <script src="assets/js/singleton/singletonFactory.js"></script>
  <script src="assets/js/singleton/singletonDao.js"></script>
  <script src="assets/js/resources/resourcesFactory.js"></script>

</head>
<body>
  <div ng-include="'views/template/defHeader.html'"></div>
  <div class="container ng-hide" ng-show="initialized">
    <div class="alert alert-danger" ng-show="error">{{error}}</div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <!-- Fixed left nav column -->
        <div ng-include src="'views/template/defSideMenu.html'"></div>
      </div>
      <div class="col-xs-9">
        <!-- Breadcrumbs ================================================== -->
        <div ng-activity-indicator class="indicator-center"></div>
        <div ng-hide="AILoading" ng-view></div>
      </div>
    </div>
  </div>
  <div class="alert main-alert" style="background-color:#04B404;color:white" ng-show="resultMessage">Success</div>
  <div class="alert main-alert" style="background-color:#DF7401;color:white" ng-show="errorMessage">Missing information</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
</body>
</html>
