<div class="row">
    <h1>การจัดการคณะ</h1>
</div>
<div class="row">
    <div id="grid1" ui-grid="gridOptions" ui-grid-selection style="position:relative;display: block"></div>
</div>
<div class="row">

<button id="add-faculty-button" class="btn btn-block btn-success" ng-click="addFaculty()"><br/>เพิ่มคณะ<br/><br/></button>
</div>