<div class="row">
    <h1 ng-if="isOrganizer == true">จัดการคณะและหน่วยงาน</h1>
    <h1 ng-if="isOrganizer == false">จัดการ Staff</h1>

    <!-- STAFF -->
    <div ng-show="isOrganizer == false" >
        <label>คณะ</label>
        <select 
            id="organizer-select-faculty"
            ng-model="selectedFaculty" 
            style="margin-left:10px; min-width:200px;" 
            ng-options="faculty.faculty_id as faculty.faculty_name for faculty in facultiesList track by faculty.faculty_id">
        </select>
    </div>
        

    <div class="row" style="margin-top:10px;">
        <!-- FACULTY AND ORGANIZER -->
        <div class="grid col-xs-6">
            <div ui-grid="gridOptions" ui-grid-selection></div>
            <button id="add-faculty-button" class="btn btn-block btn-success" ng-if="isOrganizer" ng-click="addFaculty()"><br/>เพิ่มคณะ<br/><br/></button>
        </div>
        

        <div class="col-xs-6">
            <!-- STAFF -->
            <div class="form-group">
                <div ng-if="isOrganizer == false" ui-grid="organizerOptions" ui-grid-selection></div>
                <!-- <select ng-if="isOrganizer == true" id="organizer" 
                    ng-model="organizer"
                    ng-options="oganizer.organizer_id as oganizer.organizer_name for oganizer in organizationList track by oganizer.organizer_id"
                    size="6" 
                    style="width:420px; height:330px">
                </select> -->
                <div ng-if="isOrganizer == true" ui-grid="organizerListOptions" ui-grid-selection></div>
            </div>
            <!-- FACULTY AND ORGANIZER -->
            <div class="btn-group col-md-offset-2" role="group" aria-label="..." style="width:300px" ng-if="isOrganizer == true">
                <button type="button" id="add-organizer-button" class="btn btn-default" ng-click="addOrganizer()">เพิ่มองค์กร</button>
                <button type="button" id="edit-organizer-button" class="btn btn-default" ng-click="updateOrganizer()">แก้ไของค์กร</button>
                <button type="button" id="delete-organizer-button" class="btn btn-default" ng-click="deleteOrganizer()">ลบองค์กร</button>
            </div>

            <!-- STAFF -->
            <button id="add-staff-button" class="btn btn-block btn-success" ng-if="isOrganizer == false" ng-click="addStaff()"><br/>เพิ่ม staff<br/><br/></button>
        </div>
    </div>

</div>

<style type="text/css">
    .btn-success {
        margin-top: 10px;
    }
</style>