<div>
    <div class="modal-header">
        <h3 class="modal-title">Add Review Entity</h3>
    </div>
    <div class="row modal-body" >
        <div class="row" style="margin-left: 10px;">
            <label class="col-sm-3">Review entity name: </label>
            <input id="review-entity-name" class="col-sm-8" ng-model="reviewEntityName">
        </div>
        <div class="row" style="margin-top:10px; margin-left: 10px;">
            <label class="col-sm-3">Review entity type: </label>
            <!-- <input class="col-sm-8" ng-model="reviewEntityType"> -->
            <select id="select-entity-type" ng-model="reviewEntityType">
                <option value="text">Text</option>
                <option value="rating">Rating</option>
                <option value="checkbox">Checkbox</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button id="save-entity-type-button" class="btn btn-success" ng-click="save()">Save</button>
        <button id="cancel-entity-type-button" class="btn btn-warning" ng-click="$close()">Cancel</button>
    </div>
</div>