<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit Template</h3>
    </div>
    <div class="row modal-body" >
        <div class="row">
            <div class="col-sm-1"></div>
            <label class="col-sm-2">Name: </label>
            <input id="edit-review-template-name" class="col-sm-8" ng-model="reviewTemplateName">
        </div>
    </div>
    <div class="modal-footer">
        <button id="save-edit-review-template-name-button" class="btn btn-success" ng-click="save()">Save</button>
        <button id="cancel-edit-review-template-name-button" class="btn btn-warning" ng-click="$close()">Cancel</button>
    </div>
</div>