<div>
  <form id="main-activity-form" name="activityForm" nonvalidate flow-init>
    <!-- <accordion close-others="false"> -->
      <!-- ########## หน่วยงานที่จัด ########## -->
      <!-- <accordion-group heading="หน่วยงานที่จัด" is-open="true" focusMe="true"> -->
      <div>
        <h2 class="title-name">หน่วยงานที่จัด</h2>
        <br/>
        <!-- Faculty name and organizer name -->
        <div class="row" style="margin-left:5px;">
          <div class="col-xs-3">
            <label>Organizers:</label>
          </div>
          <div class="col-xs-4">
            <select 
              id="select-organizer"
              class="form-control input-sm"
              ng-change="changeOrganizer(selectedOganizerID)"
              ng-model="activity.organizer_id"
              ng-options="oganizer.organizer_id as oganizer.organizer_name for oganizer in organizerList track by oganizer.organizer_id">
            </select>
          </div>
        </div>

        <div class="row" style="margin-top:10px; margin-left:5px;">
          <div class="col-xs-3">
            <label>กิจกรรมนี้เป็น</label>
          </div>
          <div class="col-xs-4">
            <select id="activityType" class="form-control input-sm" ng-model="activity.activity_type">
              <option value="main">กิจกรรมหลัก</option>
              <option value="sub">กิจกรรมเลือก</option>
            </select>
          </div>
        </div>
      </div>
        <!-- <div ng-include src="'views/activity/registerTemplate/instituteTab.html'"></div> -->
      <!-- </accordion-group> -->

      <!-- ########## ประเภทกิจกรรม ########## -->
      <!-- <accordion-group heading="ประเภทกิจกรรม"> -->
      <br/>
      <div ng-show="isSelecedOrganizer">
        <h2 class="title-name">ประเภทกิจกรรม</h2>
        <!-- SELECT TEMPLATE AND ENTITIES -->
        <div class="row">

          <!-- Template name -->
          <!-- <div class="modal-header">
            <h3 class="modal-title">เลือกชนิดกิจกรรม</h3>
          </div> -->
          <!-- <div style="margin-left:50px;">
            <div class="row form-group">
                <div class="col-xs-3">
                  <label> ชนิดกิจกรรม</label>
                </div>
                <div class="col-xs-3 col-md-offset-3">
                  <label>เลือกเข้า</label>
                </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-4" >
                <select id="selectFocusLeftPane" size="10" ng-model="selectFromAllList" ng-change="changeSelecTemplate(selectFromAllList)" ng-options="template.id as template.name for template in allTemplateList track by template.id" style="width:100%; min-height:200px;">
                </select>
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="addAll()"> &gt;&gt;</button>
                <button type="button" class="btn btn-default btn-lg btn-block" ng-click="addTemplate()">&gt;</button>
                <button type="button" class="btn btn-default btn-lg btn-block" ng-click="removeTemplate()">&lt;</button>
                <button type="button" class="btn btn-default btn-lg btn-block" ng-click="removeAll()">&lt;&lt;</button>
              </div>
              <div class="col-xs-4">
                <select size="10" ng-model="selectFromSelectedList" ng-options="template.name for template in seletedTemplateList"  style="width: 100%; min-height:200px;">
                </select>
              </div>
            </div>
          </div> -->

          <!-- selected template -->
          <div class="form-group" style="margin-left:30px;">
            <div class="form-group" ng-repeat="template in allTemplateList">
              <div class="row">
                <div class="col-xs-2">
                    <label>{{template.activity_template_name}}</label>
                </div>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1"><span ng-show="template.abbreviation != ''"><label>{{template.abbreviation}}</label></span></div>
                    <div class="col-xs-6"><label>{{template.activity_template_name}}</label></div>
                    <div class="col-xs-2"><label>ร้อยละ</label></div>
                  </div>
                  <div class="row" ng-repeat="entity in template.activitytemplateentities">
                    <!-- <div class="col-xs-1"><input type="checkbox" ng-model="entity.status"/></div> -->
                    <div class="col-xs-1"><span ng-show="template.abbreviation != ''">{{entity.activity_template_entity_abbreviation}}</span></div>
                    <div class="col-xs-6">{{entity.activity_template_entity_name}}</div>
                    <div class="col-xs-2"><input type="text" ng-model="entity.percent" style="width: 30px"></div>
                  </div>
                  <!--<table>-->
                    <!--<tr>-->
                      <!--<th>&nbsp;</th>-->
                      <!--<th ng-show="templateData.header.abbreviation != ''" class="text-center">{{templateData.header.abbreviation}}</th>-->
                      <!--<th class="text-center">{{templateData.header.name}}</th>-->
                    <!--</tr>-->

                    <!--<tr ng-repeat="detail in templateData.details">-->
                      <!--<td><input type="checkbox" ng-model="detail.status"/></td>-->
                      <!--<td ng-show="templateData.header.abbreviation != ''" >{{detail.abbreviation}}</td>-->
                      <!--<td class="paddingL5">{{detail.name}}</td>-->
                      <!--<td class="paddingL5"><input type="text" ng-model="detail.percent" style="width: 20px"></td>-->
                    <!--</tr>-->
                  <!--</table>-->
                </div>
            </div>
            </div>
          </div>

        <!-- SELECT FACULTIES -->
        <br />
        <div>
          <h2 class="title-name">เลือกคณะ</h2>
        </div>
        <ul class="select-faculty">
          <li ng-repeat="faculty in faculties">
            <input type="checkbox" id="input-faculty-name" ng-checked="faculty.checked"> {{faculty.name}}
          </li>
        </ul>
      </div>

      <!-- <div ng-include src="'views/activity/registerTemplate/typeTab.html'"></div> -->
      <!-- </accordion-group> -->

      <!--<accordion-group heading="กรอบมาตรฐานคุณวุฒิ ระดับอุดมศึกษา">-->
      <!--<br/>-->
      <br/>
      <div>
        <h2 class="title-name">กรอบมาตรฐานคุณวุฒิ ระดับอุดมศึกษา</h2>

      </div>
      <div ng-include src="'views/activity/registerTemplate/standardTab.html'"></div>
      <!--</accordion-group>-->

      <!-- <accordion-group heading="รายละเอียดกิจกรรม"> -->
      <br/>
      <div>
        <h2 class="title-name">รายละเอียดกิจกรรม</h2>
      </div>
        <div ng-include src="'views/activity/registerTemplate/detailTab.html'"></div>
      </accordion-group>

      <!-- <accordion-group heading="วันที่ กิจกรรม"> -->
      <br/>
      <div>
        <h2 class="title-name">วันที่ กิจกรรม</h2>

      </div>
        <div ng-include src="'views/activity/registerTemplate/dateTab.html'"></div>
      </accordion-group>

      <!-- <accordion-group heading="วัตถุประสงค์ และ เป้าหมาย"> -->
      <br/>
      <div>
        <h2 class="title-name">วัตถุประสงค์ และ เป้าหมาย</h2>
      </div>
        <div ng-include src="'views/activity/registerTemplate/objectiveTab.html'"></div>
      </accordion-group>

      <!-- <accordion-group heading="งบประมาณ"> -->
      <br/>
      <div>
        <h2 class="title-name">งบประมาณ</h2>
      </div>
      <div ng-include src="'views/activity/registerTemplate/moneyTab.html'"></div>

      <!-- <accordion-group heading="การประเมิน"> -->
      <br/>
      <div>
        <h2 class="title-name">การประเมิน</h2>
      </div>
      <div ng-include src="'views/activity/registerTemplate/evaluateTab.html'"></div>
      </accordion-group>
    </accordion>

    <br/>

    <legend></legend>

    <button id="add-activity-button" class="btn btn-block btn-success" ng-click="save()"><br/>เพิ่มข้อมูล<br/><br/></button>
  </form>
</div>

<style type="text/css">
  .selectOrganizer {
    min-width: 100px;
  }

  .title-name {
    background-color: #AC58FA;
    padding: 10px;
    color: #F2F2F2;
  }

  .select-faculty {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
  }
</style>