<div>
  <div class="row" style="margin-left:5px;">
    <h1>ดูกิจกรรมของแต่ละคณะ</h1>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-1">
        <label>Faculty:</label>
      </div>
      <div class="col-xs-4">
        <select 
          id="-viewActivity-select-faculty"
          class="form-control input-sm"
          ng-change="changeOrganizer(selectedOganizerID)"
          ng-model="viewActivity.faculty_id"
          ng-options="faculty.faculty_id as faculty.faculty_name for faculty in facultyList track by faculty.faculty_id">
        </select>
      </div>
    </div>
    <div class="col-xs-8">
      <div ui-grid="allActivityListOptions" ui-grid-selection class="grid"></div>
    </div>
  </div>
</div>

<style type="text/css">
  .grid {
    margin-top: 10px;
  }
</style>