<div>
    <div class="modal-header">
        <h3 id="select-activity-type" class="modal-title">เลือกชนิดกิจกรรม</h3>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-xs-3">
                <label class="form-control"> ชนิดกิจกรรม</label>
            </div>
            <div class="col-xs-3 col-md-offset-3">
                <label class="form-control">เลือกเข้า</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-4" >
                <select id="selectFocusLeftPane" size="10" ng-model="selectFromAllList" ng-options="template.name for template in allList" style="width: 100%">

                </select>
            </div>
            <div class="col-xs-2">
                <button type="button" id="focus-template-addall" class="btn btn-primary btn-lg btn-block" ng-click="addAll()"> &gt;&gt;</button>
                <button type="button" id="focus-template-add" class="btn btn-default btn-lg btn-block" ng-click="addTemplate()">&gt;</button>
                <button type="button" id="focus-template-remove" class="btn btn-default btn-lg btn-block" ng-click="removeTemplate()">&lt;</button>
                <button type="button" id="focus-template-removeall" class="btn btn-default btn-lg btn-block" ng-click="removeAll()">&lt;&lt;</button>
            </div>
            <div class="col-xs-4">
                <select id="select-focus-template-name" size="10" ng-model="selectFromSelectedList" ng-options="template.name for template in selectList"  style="width: 100%">

                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="save-focus-template-button" class="btn btn-success" ng-click="save()">Save</button>
        <button id="cancel-focus-template-button" class="btn btn-warning" ng-click="$close()">Cancel</button>
    </div>


</div>
