<div>
    <div class="modal-header">
        <h3 class="modal-title">Add Template</h3>
    </div>
    <div class="row modal-body" >
        <div class="row" style="margin-left: 10px;">
            <label class="col-sm-3">Abbreviation: </label>
            <input id="abbreviation-name" class="col-sm-8" ng-model="abbreviation">
        </div>
        <div class="row" style="margin-top:10px; margin-left: 10px;">
            <label class="col-sm-3">Entity name: </label>
            <input id="entity-name" class="col-sm-8" ng-model="entityName">
        </div>
    </div>
    <div class="modal-footer">
        <button id="save-entity-template" class="btn btn-success" ng-click="save()">Save</button>
        <button id="cancel-entity-template" class="btn btn-warning" ng-click="$close()">Cancel</button>
    </div>
</div>