<div>
    <div class="modal-header">
        <h3 class="modal-title">Add Template</h3>
    </div>
    <div class="row modal-body" >
        <div class="row">
            <div class="col-sm-1"></div>
            <label class="col-sm-2">Name: </label>
            <input id="add-template-name" class="col-sm-8" ng-model="templateName">
        </div>
    </div>
    <div class="modal-footer">
        <button id="save-add-template" class="btn btn-success" ng-click="save()">Save</button>
        <button id="cancel-add-template" class="btn btn-warning" ng-click="$close()">Cancel</button>
    </div>
</div>