<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body" >
        <form sf-schema="schema" sf-form="form" sf-model="entity" ></form>
    </div>
    <div class="modal-footer">
        <button id="save-edit-entity" class="btn btn-success" ng-click="save()">Save</button>
        <button id="cancel-edit-entity" class="btn btn-warning" ng-click="$close()">Cancel</button>
    </div>
</div>