<div class="ui-grid-cell-contents">
    <button type="button" id="edit-button" class="btn btn-xs btn-primary" ng-click="grid.appScope.openEditModal(grid,row)">
       <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
</div>