<div class="row">
    <div class="col-xs-2">
        <label>{{templateData.name}}</label>
    </div>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1"><span ng-show="templateData.header.abbreviation != ''"><label>{{templateData.header.abbreviation}}</label></span></div>
            <div class="col-xs-6"><label>{{templateData.header.name}}</label></div>
            <div class="col-xs-1"><label>ร้อยละ</label></div>
        </div>
        <div class="row" ng-repeat="detail in templateData.details">
            <div class="col-xs-1"><input type="checkbox" id="detail-status" ng-model="detail.status"/></div>
            <div class="col-xs-1"><span ng-show="templateData.header.abbreviation != ''">{{detail.abbreviation}}</span></div>
            <div class="col-xs-6">{{detail.name}}</div>
            <div class="col-xs-1"><input type="text" id="detail-percent" ng-model="detail.percent" style="width: 20px"></div>
        </div>
        <!--<table>-->
            <!--<tr>-->
                <!--<th>&nbsp;</th>-->
                <!--<th ng-show="templateData.header.abbreviation != ''" class="text-center">{{templateData.header.abbreviation}}</th>-->
                <!--<th class="text-center">{{templateData.header.name}}</th>-->
            <!--</tr>-->

            <!--<tr ng-repeat="detail in templateData.details">-->
                <!--<td><input type="checkbox" ng-model="detail.status"/></td>-->
                <!--<td ng-show="templateData.header.abbreviation != ''" >{{detail.abbreviation}}</td>-->
                <!--<td class="paddingL5">{{detail.name}}</td>-->
                <!--<td class="paddingL5"><input type="text" ng-model="detail.percent" style="width: 20px"></td>-->
            <!--</tr>-->
        <!--</table>-->
    </div>
</div>