

  <div class="row">
    <!-- Faculty name and organizer name -->
    <h1>จัดการเทมเพลต</h1>
    <div style="row" style="background-color:#F6E3CE;">
      <label id="editTemplate-faculty-name">Faculty: {{ facultyName }} </label>
      <label>Organizers:</label>
      <select 
        id="select-edit-oganizer"
        ng-model="selectedOganizerID" 
        style="margin-left:10px; min-width:200px;" 
        ng-options="oganizer.organizer_id as oganizer.organizer_name for oganizer in organizerList track by oganizer.organizer_id">
      </select>
    </div>

    <!-- Template name -->
    <div class="col-sm-6" style="min-height:100px; margin-top:10px;">
      <div class="col-xs-12">
        <div ui-grid="templateListOption" ui-grid-selection></div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="btn-group col-sm-6" style="margin-top:10px">
          <label id="add-activity-template-name" class="btn btn-success" ng-click="templateAddEvent()" uib-btn-radio="'Left'" uncheckable>Add</label>
          <label id="edit-activity-template-name" class="btn btn-success" ng-click="templateEditEvent()" uib-btn-radio="'Middle'" uncheckable>Edit</label>
          <label id="delete-activity-template-name" class="btn btn-success" ng-click="templateDeleteEvent()" uib-btn-radio="'Right'" uncheckable>Delete</label>
        </div>
      </div>
    </div>

    <!-- Child template -->
    <div class="col-sm-6" style="min-height:100px; margin-top:10px;">
      <div class="col-xs-12">
        <div ui-grid="entityListOption" ui-grid-selection></div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="btn-group col-sm-6" style="margin-top:10px">
          <label id="add-activity-template-entity" class="btn btn-success" ng-click="entityAddEvent()" uib-btn-radio="'Left'" uncheckable>Add</label>
          <label id="edit-activity-template-entity" class="btn btn-success" ng-click="entityEditEvent()" uib-btn-radio="'Middle'" uncheckable>Edit</label>
          <label id="delete-activity-template-entity" class="btn btn-success" ng-click="entityDeleteEvent()" uib-btn-radio="'Right'" uncheckable>Delete</label>
        </div>
      </div>
    </div>
  </div>

    <!-- <form >
        <div class="form-group" ng-show="mode == 'editActivityTemplate' || mode =='addOrganization'">
            <label>ชื่อเทมเพลต</label>
            <select ng-model="selectedTemplate" ng-options="template.name for template in templates"
                    ng-change="changeTemplate()"
                    class = "form-control"></select>
        </div>
        <div class="form-group" >
            <label>ชื่อเทมเพลต</label>
            <input type="text" ng-model="selectedTemplateName" placeholder="ระบุ ชื่อเทมเพลต" class="form-control">
        </div>
        <div class="form-group">
            <div>
                <lable>หัวข้อ</lable>
                <div ui-grid="headerGridOptions" ui-grid-edit ui-grid-cellNav style="height:75px;position:relative;display: block"></div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <lable>รายการ</lable>
                <div ui-grid="detailGridOptions" ui-grid-edit  ui-grid-cellNav style="height:150px;position:relative;display: block"></div>
            </div>
        </div>
        
        <div class="form-group container-fluid" ng-show="true">
            <div class="col-md-4">
                <div class="form-group">
                    <label >คณะ</label>
                    <select class="form-control"></select>
                </div>
                <div class="form-group">
                    <label >หน่วยงาน</label>
                    <select class="form-control"></select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="addAll()"> &gt;&gt;</button>
                <button type="button" class="btn btn-default btn-lg btn-block" ng-click="addTemplate()">&gt;</button>
                <button type="button" class="btn btn-default btn-lg btn-block" ng-click="removeTemplate()">&lt;</button>
                <button type="button" class="btn btn-default btn-lg btn-block" ng-click="removeAll()">&lt;&lt;</button>
            </div>
            <div class="col-md-4">
                <label> เลือกหน่วยงาน</label>
                <select class="form-control" size="4">

                </select>
            </div>
        </div>
        <div class="form-group">
            <button ng-click="save()" class="btn btn-success">เพิ่มข้อมูล</button>
            <botton>ล้างข้อมูล</botton>
        </div>

      </form> -->