<div class="row">
  <h1>ประเมินกิจกรรม {{activityName}}</h1>

  <!-- TYPE RATING -->
  <div ng-show="evaType === 'text'">
    <label>Rating</label><br />
    <table>
     <tr>
      <th>รายการ</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
     </tr>
       
     <tr ng-repeat = "evaName in evaList">
      <td>{{ evaName }}</td>
      <td><input id="rating-evaluate-list1" type="radio" name="{{evaName}}" /></td>
      <td><input id="rating-evaluate-list2" type="radio" name="{{evaName}}" /></td>
      <td><input id="rating-evaluate-list3" type="radio" name="{{evaName}}" /></td>
      <td><input id="rating-evaluate-list4" type="radio" name="{{evaName}}" /></td>
      <td><input id="rating-evaluate-list5" type="radio" name="{{evaName}}" /></td>
     </tr>
    </table>
  </div>

  <!-- TYPE TEXT -->
  <div ng-show="evaType === 'text'">
    <label>Text input</label><br />
    <textarea id="text-more-evaluate"> </textarea>
  </div>

  <!-- TYPE CHECKBOX -->
  <div ng-show="evaType === 'text'">
    <label>Checkbox</label><br />
    <div ng-repeat = "evaName in evaList">
      <input id="checkbox-evaluate-list" type="checkbox" name="{{evaName}}" value="Bike"> {{evaName}}<br>
    </div>
  </div>

  <button id="submit-evaluate-button" ng-click="submitEvaluate()">ส่งแบบประเมิน</button>
</div>

<style type="text/css">
  .btn {
    margin-top: 10px;
  }

  textarea {
    width: 100%;
    height: 200px;
  }

  table, th , td {
    width: 100%;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
</style>