<div class="row">
  <h1>ดูสถานะลงทะเบียนกิจกรรม</h1>
  <div ui-grid="rgisterActivityListOptions" ui-grid class="grid"></div>
</div>

<style type="text/css">
  .btn {
    margin-top: 10px;
  }
</style>