<div>
    <form name="studentForm" nonvalidate flow-init>
        <accordion close-others="true">

            <accordion-group>
                <accordion-heading>
                    ข้อมูลทั่วไป <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <br/>

                <div ng-include src="'views/Student/registerTemplate/generalTab.html'"></div>

            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    การติดต่อ <i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
                </accordion-heading>
                <br/>

                <div ng-include src="'views/Student/registerTemplate/contactTab.html'"></div>
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    ที่อยู่ขณะศึกษา <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
                </accordion-heading>
                <br/>

                <div ng-include src="'views/Student/registerTemplate/recentAddressTab.html'"></div>
            </accordion-group>
            <accordion-group heading="สถานภาพบิดามารดา">
                <br/>

                <div ng-include src="'views/Student/registerTemplate/parentTab.html'"></div>
            </accordion-group>
            <accordion-group heading="ประวัติสุขภาพ">
                <br/>

                <div ng-include src="'views/Student/registerTemplate/healthTab.html'"></div>
            </accordion-group>
            <accordion-group heading="ประวัติการศึกษา" >
                <div ng-include src="'views/Student/registerTemplate/studyHistoryTab.html'"></div>
            </accordion-group>
            <accordion-group heading="ความสามารถพิเศษ" is-open="true" focusMe="true">
                <div ng-include src="'views/Student/registerTemplate/spAbilityTab.html'"></div>
            </accordion-group>
        </accordion>

        <br/>

        <legend></legend>

        <button id="student-submit-basic-info" class="btn btn-block btn-success" ng-click="addStudent($flow)"><br/>เพิ่มข้อมูล<br/><br/></button>
    </form>
</div>