<div class="row">
  <h1>ลงทะเบียนกิจกรรม</h1>
  <div ui-grid="rgisterActivityListOptions" ui-grid-selection class="grid"></div>
  <button id="submit-register-activity-button" class="btn btn-block btn-success" ng-click="submitRegisterActivity()" ng-disabled="isClick"><br/>ลงทะเบียน<br/><br/></button>
</div>

<style type="text/css">
  .btn {
    margin-top: 10px;
  }
</style>