<div class="ui-grid-cell-contents">
    <button id="student-evaluate" type="button" class="btn btn-xs btn-primary" ng-click="grid.appScope.evaluateClick(grid,row)">
       <!--  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> -->ประเมิน
    </button>
</div>