/* 
     Main Structure 
*/
/* body */
body {
	background-color: #FAFAFA;
}

#footernavbar {
	margin-top 		: 50px;
}

/* legend thing */
legend {
	text-align 		: center;
   	font-size 		: 30px;
  	font-weight 	: 200;
  	line-height 	: 1;
  	letter-spacing 	: -1px;
}
/* link thing */
a {
	color 			: gray;
	text-decoration : none;
}
a:hover {
	color 			: gray;
	text-decoration : none;
}
/* form thing */
.form-control {
	margin-bottom 	: 10px;
}
label > .form-control { /* Fix for data table */
	margin-bottom 	: 0px;
}
textarea {
	resize          : none;
}
/********************************************/
/* 
     Table's Content
*/
/* Main Table */

/* table element */
.thincell {
	width			: 1%;
	white-space	    : nowrap;
}
.imagecell {
	width 			: 150px;
	white-space 	: nowrap;
}
.imageminicell {
	width 			: 75px;
	white-space 	: nowrap;
}
/********************************************/

/* map */
#map img { 
	max-width 		: none; 
}

/**************** General *******************/
.nomargin { margin : 0px !important; }
.nopadding { padding : 0px !important; }
.hidden { display : none !important; }
/********************************************/