<div class="row">
  <h1>ลงทะเบียนนักศึกษาในกิจกรรม</h1>

  <!-- SELECT ACTIVITY -->
  <div class="col-sm-6" style="min-height:100px; margin-top:10px;">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-8"><h3>กิจกรรมทั้งหมด</h3></div>
      </div>
      <div ui-grid="activityListOption" ui-grid-selection></div>
      <div class="row">
        <a id="export-pdf" style="margin-left:15px; margin-top:10px;" ng-click="exportPDF()">Export to PDF</a>
      </div>
    </div>
  </div>

  <!-- SELECT STUDENTs -->
  <div class="col-sm-6" style="min-height:100px; margin-top:10px;">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-8"><h3>ลงทะเบียนนักศึกษา</h3></div>
        <div class="col-sm-4"><h3>{{enrollStudentCount}} / {{availableEnroll}}</h3></div>
      </div>
      <div ui-grid="studentListOption" ui-grid-selection></div>
      <div class="btn-group">
        <label id="enroll-student-approve" class="btn btn-primary" ng-click="submitSelectedEnrollStudent('approve')" ladda="isClick" ng-disabled="isClick">Approve</label>
        <label id="enroll-student-waiting-list" class="btn btn-primary" ng-click="submitSelectedEnrollStudent('waiting_list')" ladda="isClick" ng-disabled="isClick">Waiting list</label>
        <label id="enroll-student-cancel" class="btn btn-primary" ng-click="submitSelectedEnrollStudent('cancel')" ladda="isClick" ng-disabled="isClick">Cancel</label>
      </div>
      <!-- <button class="btn btn-block btn-success" ng-click="submitSelectedEnrollStudent()"><br/>ลงทะเบียนนักศึกษา<br/><br/></button> -->
    </div>
  </div>
</div>

<style type="text/css">
  .btn {
    margin-top: 10px;
  }
</style>