<div class="row">
  <h1>จัดการ Staff</h1>

  <!-- SELECT FACULTY -->
  <label>คณะ</label>
  <select 
  id="editStaff-select-faculty"
  ng-model="selectedFaculty" 
  style="margin-left:10px; min-width:200px;" 
  ng-options="faculty.faculty_id as faculty.faculty_name for faculty in facultiesList track by faculty.faculty_id">
</select>


<div class="row" style="margin-top:10px;">
  <div class="grid col-xs-6">
    <div ui-grid="staffList" ui-grid-selection></div>
  </div>
  <div class="col-xs-6">
    <!-- STAFF -->
    <div class="form-group">
      <div ui-grid="organizerOptions" ui-grid-selection class="grid"></div>
    </div>
  </div>

  <!-- STAFF -->
  <button id="add-staff-oganizer" class="btn btn-block btn-success" 
      ng-click="addStaff()" 
      ladda="isClick"
      ng-disabled="isClick"
    >
    <br/>เพิ่ม staff organizer(s)<br/><br/>
  </button>
</div>
</div>

</div>

<style type="text/css">
  .btn-success {
    margin-top: 10px;
  }
</style>