<div class="row">
  <h1>เชคนักศึกษาเข้าร่วมกิจกรรม</h1>

  <!-- SELECT ACTIVITY FIRST -->
  <div class="col-xs-6 topSpaecing">
    <label>กิจกรรม</label>
    <!-- <select ng-model="selectedActivityID" style="margin-left:10px; min-width:200px;" ng-options="activity.id as activity.name for activity in activityList track by activity.id"></select> -->
    <div ui-grid="activityListOptions" ui-grid-selection class="grid"></div>
  </div>

  <!-- ADD HOUR or PERCENT -->
  <div class="col-xs-6 topSpaecing">
    <div class="row">
      <div class="col-xs-2" style="margin:auto;"><label>จำนวน</label></div>
      <div class="col-xs-4"><input type="number" name="ex. 1, 1.2" ng-model="inputHourORPercent"></div>
      <div class="col-xs-2">
        <select id="select-type" ng-model="slectedType" style="margin-left:20px; min-width:100px; min-height:30px;">
          <option value="hour" selected>ชั่วโมง</option>
          <option value="percent">%</option>
        </select>
      </div>
    </div>

    <!-- SELECT STUDENTs -->
    <div style="margin-top:10px;">
      <div ui-grid="studentListOptions" ui-grid-selection class="grid"></div>  
    </div>

    <label style="margin-top:10px;">หมายเหตุ</label>
    <div style="margin-top:10px;">
      <textarea id="activity-reson" style="width:100%;" rows="4" ng-model="reson"></textarea>
    </div>

    <!-- SUBMIT BUTTON -->
    <button id="submit-student-button" class="btn btn-block btn-success" style="margin-top:10px;" ng-click="submitStudent()" ladda="isClick" ng-disabled="isClick"><br/>เชคชื่อนักศึกษา<br/><br/></button>
  </div>
</div>

<style type="text/css">
  .topSpaecing {
    margin-top: 20px;
  }
</style>