<div class="container marginT10">
	<div class="row">
		<div class="col-xs-2">
			<img src="assets/images/logo.png" width="150">
		</div>
		<div class="col-xs-7">
			<h2>
				คณะบริหารธุรกิจ<br />
				มหาวิทยาลัยเชียงใหม่<br />
				<small>ระบบจัดการกิจกรรม</small>
			</h2>
		</div>
		<!-- <div class="col-xs-3 well well-sm">
			<form action="" method="POST">
				<div class="row">
					<div class="col-xs-4 text-center paddingT5">
						&nbsp;&nbsp;&nbsp;username
					</div>
					<div class="col-xs-8">
						<input type="text" class="form-control input-sm" placeholder="ชื่อผู้ใช้" required>
					</div>
					<div class="col-xs-4 text-center paddingT5">
						&nbsp;&nbsp;&nbsp;password
					</div>
					<div class="col-xs-8">
						<input type="password" class="form-control input-sm" placeholder="รหัสผ่าน" required>
					</div>
				</div>
				<div class="text-center marginT10">
					<button class="btn btn-success btn-xs">Login</button>
					&nbsp;&nbsp;&nbsp;
					<a href="register.php" class="btn btn-default btn-xs">Register</a>
					<br />
					forget password ?
				</div>
			</form>
		</div> -->
		<div class="col-xs-3 well well-sm" ng-controller="basicInfoController">
			<label id="user-type" class="user-info">{{getUserType()}}</label><br>
			<label id="user-name" class="user-info">{{getUserName()}}</label>
		</div>
		<legend></legend>
	</div>
</div>

<style type="text/css">
	.well {
		height: 130px;
	}

	.user-info {
		width: 100%;
		text-align: right;
	}
</style>