<ul class="nav nav-pills nav-stacked" ng-controller="sideMenuController">
	<!-- STUDENT -->
	<li ng-show="getUserType() === 'student'">
		<a href="#" id="btn-1">ดูข้อมูลนักศึกษา</a>
		<a href="#/studentRegisterActivity" id="btn-1">ลงทะเบียนกิจกรรม</a>
		<a href="#/studentRegisterActivityStatus" id="btn-1">ดูสถานะลงทะเบียนกิจกรรม</a>
		<a href="#/studentSelectEvaluateActivity" id="btn-1">ประเมินกิจกรรม</a>
	</li>

	<!-- STAFF -->
	<div ng-show="getUserType() === 'staff'">
		<li>
			<a href="" id="btn-1" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">เจ้าหน้าที่</a>
			<ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-1">
				<li><a class="sub-menu" href="#/staffAllowStudent">จัดการกิจกรรมนักศึกษา</a></li>
				<li><a class="sub-menu" href="#/staffCheckStudent">เช็คนักศึกษาเข้าร่วมกิจกรรม</a></li>
			</ul>
		</li>

		<!-- ACTIVITY -->
		<li>
			<a href="" id="btn-1" data-toggle="collapse" data-target="#submenu3" aria-expanded="false">กิจกรรม</a>
			<ul class="nav collapse" id="submenu3" role="menu" aria-labelledby="btn-1">
				<li><a class="sub-menu" href="#/viewActivity">ดูข้อมูลกิจกรรม</a></li>
				<li><a class="sub-menu" href="#/registerActivity">เพิ่มกิจกรรม</a></li>
			</ul>
		</li>

		<!-- SETTING -->
		<li>
			<a href="" id="btn-1" data-toggle="collapse" data-target="#submenu4" aria-expanded="false">การตั้งค่า</a>
			<ul class="nav collapse" id="submenu4" role="menu" aria-labelledby="btn-1">
				<li><a class="sub-menu" href="#/faculty/editStaff">จัดการ Staff</a></li>
				<li><a class="sub-menu" href="#/faculty/organizerList">จัดการคณะและหน่วยงาน</a></li>
				<li><a class="sub-menu" href="#/faculty/activityTemplate">จัดการเทมเพลตกิจกรรม</a></li>
				<li><a class="sub-menu" href="#/faculty/activityReviewTemplate">จัดการรีวิวเทมเพลตกิจกรรม</a></li>
			</ul>
		</li>
	</div>


	<!-- <li ng-class="{true: 'active'}[menuActive('/registerActivity')]">
		<a href="#/registerActivity">เพิ่มกิจกรรม</a>
	</li> -->

		
	<!-- <li><a href="#/activity/template/add">เพิ่มรายละเอียดเทมเพลต</a></li> -->
	<!-- <li><a href="#/activity/template/edit">แก้ไขรายละเอียดเทมเพลต</a></li> -->
	<!-- <li><a href="#/activity/template/addOrganize">เพิ่มผู้จัดเข้ากับเทมเพลต</a></li> -->
</ul>

<style type="text/css">
.sub-menu {
	margin-left: 10px;
}
</style>

