<div class="form-group col-xs-12">
    <label class="col-xs-3 ">
        กิจกรรมเสริมหลักสูตรประเภท
    </label>

    <div class="col-xs-6">
        <input id="previous-activity-records" type="text" ng-Model="student.studyRecord.previousActivityRecords[0].type"
               class="form-control">
    </div>
</div>
<div class="col-xs-12 form-group">
    <div class="col-xs-3">
        <label>
            ตำแหน่ง
        </label>
    </div>
    <div class="col-xs-8">
        <label>
            <input id="activity-attendant-type-president" type="radio" name="activity.type"
                   ng-Model="student.studyRecord.previousActivityRecords[0].activityAttendantType"
                   value="HeadOfClub">
            ประธานชมรม
        </label>
        <label>
            <input id="activity-attendant-type-member" type="radio" name="activity.type"
                   ng-Model="student.studyRecord.previousActivityRecords[0].activityAttendantType"
                   value="MemberOfClub">
            สมาชิกชมรม
        </label>
        <label>
            <input id="activity-attendant-type-other" type="radio" name="activity.type"
                   ng-Model="student.studyRecord.previousActivityRecords[0].activityAttendantType"
                   value="Other">
            อื่น ๆ
        </label>

        <div>
            <input id="activity-attendant-type-other-text" type="text" ng-model="student.studyRecord.previousActivityRecords[0].other"
                   class="form-control col-xs-3"
                   ng-show="student.studyRecord.previousActivityRecords[0].activityAttendantType == 'Other'">
        </div>
    </div>
</div>
